.main-content {
    margin-right: 200px; /* Adjust this based on your sidebar width */
}

.sidebar {
    width: 330px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: #f8f9fa;
    padding: 35px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .main-content {
        margin-right: 0; /* Removes margin on small screens */
    }
    
    .sidebar {
        width: 100%; /* Full width on mobile */
        position: relative;
    }
}

.sidebar nav ul {
    list-style: none;
    padding: 10;
}

.sidebar nav ul li {
    margin-bottom: 10px;
	
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}